<header>
    <div class="logo">
    </div>
    <div class="header-menu-button">
        <div>
            <button type="button" class="account-button" onclick="userAccountMenu()"></button>
        </div>
    </div>
</header>
